<launch>

<rosparam file="$(find uvc2308hollow_description)/launch/controller.yaml" command="load"/>
<node args="Rrev_position_controller CastorRev_position_controller Lrev_position_controller joint_state_controller " name="controller_spawner" ns="uvc2308hollow" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/uvc2308hollow/joint_states"/>
</node>

</launch>